
body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellowgreen;
}


header{
    margin-top: 10px;
   padding: 5px;
    background-color: aquamarine;
    border-radius: 1.25em;
    text-align: center;
    
}


nav{
    border-top: 2px;
    border-bottom: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: beige;
    text-align: center;
    font-size: large;
}


nav a{
    
    text-decoration: none;
}

.left{

    border-radius: 1em;
    height: 400px;
    float: left;
    background-color: green;
    width: 69%;
    border-right: solid;
}
.left p {
    text-align: start;
}



aside{
    text-align:center;
    border-radius: 1em;
    float: left;
    height: 400px;
    width: 29%;
    background-color: red;
    border-left: solid;
}
aside li{
    text-align:  start;
    font-weight: 300 ;
}

.left img{
    margin-left: 5px;
    border-style: solid;
    border-color: black;
}
.left, aside{
    box-shadow: 0.50em 0.50em 0.75em black;
}

.left li{
  
    color: aqua;
}


nav, section,aside, footer {
    margin-top: 1em;
    margin-bottom: 1em;
}
footer
{
    
    clear: left;
    background-color: aquamarine;
    margin-top: 10pt;
    /* padding: 0.25em;
    margin-top: 20px; */
}


