
body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellowgreen;
}


header{
    margin-top: 10px;
   padding: 5px;
    background-color: aquamarine;
    border-radius: 1.25em;
    text-align: center;
    
}



nav{

    text-align: center;
    text-decoration: none;
}

.left{

    border-radius: 1em;
    height: 400px;
    float: left;
    background-color: green;
    width: 69%;
    border-right: solid;
}
.left p {
    text-align: justify;
   padding: 1em;
    font-size: 1.25em;
}

aside{
    text-align:center;
    border-radius: 1em;
    float: left;
    height: 400px;
    width: 29%;
    background-color: red;
    border-left: solid;
}
aside li{
    text-align:  start;
    font-weight: 300 ;
}

.left img{
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
.left, aside{
    box-shadow: 0.50em 0.50em 0.75em black;
}

.left li{
  
    color: aqua;
}


nav, section,aside, footer {
    margin-top: 1em;
    margin-bottom: 1em;
}
footer
{
    
    clear: left;
    background-color: aquamarine;
    margin-top: 10pt;
    /* padding: 0.25em;
    margin-top: 20px; */
}


footer img{
    width: 20px;
    height: 20px;
}
footer a{
    text-decoration: none;
}

